.listItemText {
  padding-left: 5px;
  flex-grow: 1;
}

.listItemText > :first-child {
  margin: 0;
  display: block;
}

.listItemText > :last-child {
  font-size: 0.8em;
  margin: 0;
  display: block;
}
