.loadingScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-gradient);
  flex-wrap: wrap;
}

.loadingScreen__icon {
  border-radius: 50%;
  max-width: 11em;
  max-height: 11em;
}

.loadingScreen__text {
  font-size: 3em;
  font-style: italic;
}
