#root {
  height: 100vh;
}

.app {
  width: 80vw;
  height: 100%;
  display: grid;
  margin: 0 auto;
  border-radius: 15px;
  grid-template-rows: auto 1fr auto;
  border: solid 5px #fcff9e;
}

html {
  background: #c67700;
}

main {
  background-image: linear-gradient(#fcff9e, #c67700),
    url(assets/whiskeyBg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  grid-row: 2 / 3;
  overflow-y: scroll;
}
