.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background: var(--bg-gradient);
}

main {
  background: rgba(255, 255, 255, 0.6);
  overflow: auto;
}

.app__borders {
  border-style: solid;
  border-image-slice: 1;
  border-width: 5px 0;
  border-image-source: var(--bg-borders);
}
